head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/stylesheets/style.css")
        script(async src="https://www.googletagmanager.com/gtag/js?id=G-0VV6Z0LNBL")
        script.
                window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', 'G-0VV6Z0LNBL');
        script(defer src="/js/main.js")
        title exptemplate: #{title}