doctype html
html(lang="en")
    include ../partials/head
    body
        include ../partials/nav
        h1 ps Home
        img(id="pic1" src="https://picsum.photos/id/1000/500")
        img(id="pic2" src="https://picsum.photos/id/1003/500")
        img(id="pic3" src="https://picsum.photos/id/1002/500")
        img(id="pic4" src="https://picsum.photos/id/1050/500")
        img(id="pic5" src="https://picsum.photos/id/1010/500")
        img(id="pic6" src="https://picsum.photos/id/1035/500")
        include ../partials/footer