doctype html
html(lang="en")
    include ../partials/head
    body
        noscript
            iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-NRKGV7C" height="0" width="0" style="display:none;visibility:hidden")
        include ../partials/nav
        h1 ps Home
        a(href="#" name='buttonHa' onclick="dataLayer.push({'event': 'clickeroo'})") ButtButt
        img(id="pic1" src="https://picsum.photos/id/1000/500")
        img(id="pic2" src="https://picsum.photos/id/1003/500")
        img(id="pic3" src="https://picsum.photos/id/1002/500")
        img(id="pic4" src="https://picsum.photos/id/1050/500")
        img(id="pic5" src="https://picsum.photos/id/1010/500")
        img(id="pic6" src="https://picsum.photos/id/1035/500")
        include ../partials/footer