extends ../partials/header
block content
    noscript
        iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-NRKGV7C" height="0" width="0" style="display:none;visibility:hidden")
    if (user)
        h1 Hi #{name}
    h1 ps Home
    div#p1D
        img(id="pic1")
    div#p2D
        img(id="pic2")
    div#p3D
        img(id="pic3")
    div#p4D
        img(id="pic4")
    div#p5D
        img(id="pic5")
    div#p6D
        img(id="pic6")
    include ../partials/footer
    script(src="/socket.io/socket.io.js")
    script.
        var socket = io()
        socket.on('nextPics', rotPics => {
            console.log('in here')
            allImgs.forEach((img, i) => {
                img.setAttribute('data-picId', `${rotPics[i]._id}`)
                img.setAttribute('src', `${rotPics[i].picUrl}`)
                //- img.offsetHeight
            })
        })