extends ../partials/header
block content
    noscript
        iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-NRKGV7C" height="0" width="0" style="display:none;visibility:hidden")
    if (user)
        h1 Hi #{name}
    h1 ps Home
    input(id="ipInp" type="hidden" value=ip)
    #p11D
        img(id="pic11" class="top-img")
    #p12D
        img(id="pic12" class="top-img")
    #p13D
        img(id="pic13" class="top-img")
    #p14D
        img(id="pic14" class="top-img")
    #p15D
        img(id="pic15" class="top-img")
    #p16D
        img(id="pic16" class="top-img")
    #p17D
        img(id="pic17" class="top-img")
    #p18D
        img(id="pic18" class="top-img")
    #p19D
        img(id="pic19" class="top-img")
    #p20D
        img(id="pic20" class="top-img")
    #p1D
        img(id="pic1" class="btm-img")
    #p2D
        img(id="pic2" class="btm-img")
    #p3D
        img(id="pic3" class="btm-img")
    #p4D
        img(id="pic4" class="btm-img")
    #p5D
        img(id="pic5" class="btm-img")
    #p6D
        img(id="pic6" class="btm-img")
    #p7D
        img(id="pic7" class="btm-img")
    #p8D
        img(id="pic8" class="btm-img")
    #p9D
        img(id="pic9" class="btm-img")
    #p10D
        img(id="pic10" class="btm-img")

    include ../partials/footer
    script(src="/js/main.js")
    script(src="/socket.io/socket.io.js")
    script.
        var socket = io()
        socket.emit('ipsend', ipVal)
        socket.on('nextPics', putPicsIn)