extends ../partials/header
block content
    noscript
        iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-NRKGV7C" height="0" width="0" style="display:none;visibility:hidden")
    if (user)
        h1 Hi #{name}
    h1 ps Home
    #p1D
        img(id="pic1")
    #p2D
        img(id="pic2")
    #p3D
        img(id="pic3")
    #p4D
        img(id="pic4")
    #p5D
        img(id="pic5")
    #p6D
        img(id="pic6")
    #p7D
        img(id="pic7")
    #p8D
        img(id="pic8")
    #p9D
        img(id="pic9")
    #p10D
        img(id="pic10")

    include ../partials/footer
    script(src="/socket.io/socket.io.js")
    script.
        var socket = io()
        socket.on('nextPics', rotPics => {
            console.log(`in here and the rotPics are ${rotPics.map(pic => pic.picUrl)}`)
            p1Ct = p2Ct = p3Ct = p4Ct = p5Ct = p6Ct = p7Ct = p8Ct = p9Ct = p10Ct = 0
            allImgs.forEach((img, i) => {
                img.setAttribute('data-picId', `${rotPics[i]._id}`)
                img.setAttribute('src', `${rotPics[i].picUrl}`)
                //- img.offsetHeight
            })
        })